# Because this is a gem, ignore Gemfile.lock:

Gemfile.lock

# And because this is Ruby, ignore the following
#  (source: https://github.com/github/gitignore/blob/master/Ruby.gitignore):

*.gem
*.rbc
.bundle
# .cw_config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
books/
# YARD artifacts
.yardoc
_yardoc
doc/
/.ruby_version/
/data/text/progress.txt
audio/audio_output.wav
/audio/dash.wav
/audio/audio_output.wav
/audio/dot.wav
/audio/e_space.wav
/audio/space.wav
/audio/audio_output.wav0000.mp3
/_audio/
/_books/
/audio/audio_output
/audio/audio_output.mp30000.mp3
/cw_config
/data/text/book3.txt
